.pokemonName__details {
  font-size: 20px;
  text-align: center;
}

.pTags__details {
  text-align: center;
}

.detailInformation {
  margin: 5px;
  display: inline-block;
  border: 1px solid lightgray;
  background-color: lightgray;
  border-radius: 10px;
  padding: 2px 5px;
}

.catchButton {
  margin: 25px auto;
  background-color: red;
  border: 1px solid white;
  padding: 15px;
  border-radius: 25px;
}

.sizeP {
  height: 20px !important;
  margin: auto 5px !important;
}

.sizeDiv {
  margin-top: 20px;
}

.showHideMoves {
  text-decoration: underline;
  color: blue;
}
